<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <div class="container">
        <h1>Welcome to the Dashboard!</h1>
        <div class="user-info">
            <p>Username: <span id="username">{{ .Username }}</span></p>
            <p>Email: <span id="email">{{ .Email }}</span></p>
            <!-- Form untuk logout -->
            <form id="logout-form" action="/api/user/logout" method="GET">
                <button type="submit">Logout</button>
            </form>
            <button id="open-modal-btn">Add Image</button>
        </div>

        <div class="slideshow-container">
            {{ range .ImageData }}
            <div class="mySlides">
                <img src="/api/image/{{ .URL }}" alt="{{ .Subject }}" style="width:100%">
                <div class="caption">{{ .Subject }}
                    <form action="/api/image/delete-image/{{ .ID }}" method="POST">
                        <button type="submit" class="delete-btn">
                            <i class="fa fa-trash" aria-hidden="true"></i> <!-- Icon delete -->
                        </button>
                    </form>
                </div>
            </div>
            {{ end }}
        
            <!-- Tombol prev dan next -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        </div>
    

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Submit Form</h2>
            <form id="submit-form" action="/api/image/upload" method="POST" enctype="multipart/form-data">
                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" required>
                <br>
                <label for="image">Upload Image:</label>
                <input type="file" id="image" name="image" accept="image/*">
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="modal.js"></script>
</html>
